.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: #131313;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 2s opacity, 2s visibility;
  cursor: none;

  &.active {
    opacity: 1;
    visibility: visible;

    ul a {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  ul a {
    display: block;
    color: #fff;
    font-size: 94px;
    font-weight: bold;
    line-height: 80px;
    cursor: none;
    transform: translate3d(32px, 0, 0);
    opacity: 0;
    transition: 1.5s transform, 1.5s opacity;
    transition-timing-function: ease-out;
  }
}

.menu-hamb {
  padding: 16px 8px;
  justify-self: flex-end;
  cursor: pointer;

  span, 
  &::after {
    display: block;
    width: 32px;
    height: 3px;
    background-color: #fff;
    transition: 1s transform, 1s width;
  }

  &::after {
    content: '';
    width: 60%;
    margin-top: 6px;
    transform: translate3d(61%, 0 ,0);
  }

  &.active {
    span {
      transform: translate3d(0, 4px, 0) rotate(-45deg);
    }

    &::after {
      width: 100%;
      transform: translate3d(0, -5px, 0) rotate(45deg);
    }
  }
}

.mouse-dot {
  position: fixed;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-50%, -50%, 0);
  transition: 1s opacity, 1s visibility;
  transition-timing-function: ease-out;
  mix-blend-mode: exclusion;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }
}

@media screen and (max-width: 1050px) {
  .mouse-dot {
    display: none;
  }

  .menu ul a {
    font-size: 24vw;
    line-height: 21vw;
  }
}
