.banner-blog {
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: 3s opacity, 3s visibility;
    transition-delay: 1.5s;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transition: 3s opacity, 3s visibility;
  }
}
