.banner-projetos {
  opacity: 0;
  visibility: hidden;

  .banner-projetos-wrapper {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 260px minmax(220px, 1fr);
  }

  .banner-projetos-items {
    position: relative;
    height: 100%;
    display: flex;
    z-index: 99;
  }

  .projetos-item {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    cursor: pointer;
    z-index: -1;
    transform: translate3d(-30%, -50%, 0) scale(.85);
    filter: blur(1px);
    transition: 1s transform, 1s filter;
    transition-timing-function: ease-out;
    perspective: 335px;
    
    &:hover {
      filter: blur(0)!important;
    
      a::after {
        opacity: 0!important;
      }
    }

    &.first {
      z-index: 1;
      filter: blur(0);
      transform: translate3d(0, -50%, 0) scale(1);

      a::after {
        opacity: 0;
      }
    }

    &.second {
      z-index: -1;
      transform: translate3d(70%, -50%, 0) scale(.85);
      filter: blur(1px);

      a::after {
        opacity: .5;
      }
    }

    &.third {
      z-index: -2;
      transform: translate3d(130%, -50%, 0) scale(0.7);
      filter: blur(2px);

      a::after {
        opacity: .75;
      }
    }

    a {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      transition: 1s transform;

      &:hover {
        transform: rotateX(0deg) rotateY(-4deg);
        transform-style: preserve-3d;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1A000E;
        opacity: .5;
        transition: 1s opacity ease-out;
        pointer-events: none;
      }

      img {
        height: 260px;
        width: 420px;
        object-fit: cover;
      }
    }

    .projetos-item-text {
      display: none;
    }
  }

  .banner-projetos-text {
    padding-top: 8px;
    max-width: 420px;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 32px, 0);

    h2 {
      color: #fff;
      font-size: 32px;
      margin-top: 8px;
    }

    span {
      width: fit-content;
      padding: 2px 8px;
      color: #fff;
      font-size: 11px;
      background-color: #6A0039;
      border-radius: 32px;
    }

    p {
      color: #9C777D;
      margin-bottom: 16px;
    }

    a {
      display: flex;
      align-items: center;
      color: #fff;

      img {
        margin-left: 16px;
        width: 42px;
        transition: .5s transform ease-out;
      }

      &:hover {
        img {
          transform: translate3d(16px, 0, 0);
        }
      }
    }
  }

  .banner-projetos-controls {
    position: absolute;
    top: calc(50% + 160px);
    left: 790px;
    transform: translate3d(0, -50%, 0);

    button {
      background-color: transparent;
      padding: 8px 24px;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: 3s opacity, 3s visibility;
    transition-delay: 1.5s;

    .banner-projetos-text {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition: 1.5s opacity, 1.5s visibility, 1.5s transform;
      transition-timing-function: ease-out;
      transition-delay: 1.5s;
    }
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transition: 3s opacity, 3s visibility;

    .banner-projetos-text {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 32px, 0);
      transition-timing-function: ease-out;
      transition: 1.5s opacity, 1.5s visibility, 1.5s transform;
    }
  }
}

@media screen and (max-width: 1050px) {
  .banner-projetos {  
    .banner-projetos-wrapper {
      grid-template-rows: 1fr 60vw minmax(90vw, 1fr);
    }

    .banner-projetos-items {
      a img {
        height: 60vw;
        width: 90vw;
      }
    }

    .banner-projetos-controls {
      left: unset;
      top: unset;
      right: 0;
      bottom: 48px;
      transform: translate3d(0, 0, 0);

      button {
        padding: 4px 16px;

        img {
          height: 24px;
        }
      }
    }
  }
}
