.projeto-inside-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.blog-inside {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, .6);
      z-index: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 44vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
  }

  h1 {
    position: absolute;
    width: 100%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    font-size: 10vw;
    font-weight: bolder;
    text-transform: lowercase;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
  }

  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
